<?xml version="1.0"?>
<!-- * @category    Samumaretiya
 * @package     Samumaretiya_Productorderlimit
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
-->
<config>
    <modules>
        <Samumaretiya_Productorderlimit>
            <version>0.1.2</version>
        </Samumaretiya_Productorderlimit>
    </modules>   
    <global>
        <blocks>
            <samumaretiya_productorderlimit>
                <class>Samumaretiya_Productorderlimit_Block</class>
            </samumaretiya_productorderlimit>
        </blocks>
        <helpers>
            <samumaretiya_productorderlimit>
                <class>Samumaretiya_Productorderlimit_Helper</class>
            </samumaretiya_productorderlimit>
        </helpers>
        <models>
            <productorderlimit>
                <class>Samumaretiya_Productorderlimit_Model</class>
                <resourceModel>orderlimit_mysql4</resourceModel>
            </productorderlimit>
        </models>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <Samumaretiya_Productorderlimit_Model_Observer>
                        <type>singleton</type>
                        <class>Samumaretiya_Productorderlimit_Model_Observer</class>
                        <method>addStopSelling</method>
                    </Samumaretiya_Productorderlimit_Model_Observer>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_product_update_after>
                <observers>
                    <Samumaretiya_Productorderlimit_Model_Observer>
                        <type>singleton</type>
                        <class>Samumaretiya_Productorderlimit_Model_Observer</class>
                        <method>addStopSelling</method>
                    </Samumaretiya_Productorderlimit_Model_Observer>
                </observers>
            </checkout_cart_product_update_after>
            <checkout_cart_update_items_before>
                <observers>
                    <Samumaretiya_Productorderlimit_Model_Observer>
                        <type>singleton</type>
                        <class>Samumaretiya_Productorderlimit_Model_Observer</class>
                        <method>updateStopSelling</method>
                    </Samumaretiya_Productorderlimit_Model_Observer>
                </observers>
            </checkout_cart_update_items_before>
            <sales_order_place_before>
                <observers>
                    <Samumaretiya_Productorderlimit_Model_Observer>
                        <type>singleton</type>
                        <class>Samumaretiya_Productorderlimit_Model_Observer</class>
                        <method>syncOrderStopSelling</method>
                    </Samumaretiya_Productorderlimit_Model_Observer>
                </observers>
            </sales_order_place_before>
        </events>
        <resources>
            <samumaretiya_setup>
                <setup>
                    <module>Samumaretiya_Productorderlimit</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </samumaretiya_setup>
            <samumaretiya_write>
                <connection>
                <use>core_write</use>
                </connection>
            </samumaretiya_write>
            <samumaretiya_read>
                <connection>
                <use>core_read</use>
                </connection>
            </samumaretiya_read>
        </resources>
    </global>
</config>
